.loading {
	width:100vw;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:1000000000000000000;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	transition:all .3s;
}
.loading img {
	width:200px;
}